@import 'src/scss/base';

.wrapper-column {
  display: flex;
  flex-direction: column;
  gap: $gap-8;
  width: 272px;
  height: max-content;
  max-height: 100%;
  padding: $padding-8;
  background-color: $column-background-color;
  border-radius: $border-radius-4;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

//column-header
.wrapper-column-header {
  display: flex;
  align-items: flex-start;
  gap: 0 $gap-6;
  cursor: pointer;

  .column-title {
    flex: 1;
    font-size: 16px;
    transform: translateY(6px);
    font-weight: bold;
    color: $text-color-bold;
  }

  .btn-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: $border-radius-4;
    background-color: transparent;
    color: $text-color-bold;
    cursor: pointer;
    &:hover {
      background-color: $color-gray-400;
    }
  }
}
//edit header title
.edit-title {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0 $gap-6;

  .textarea {
    flex: 1;
    display: flex;
    overflow: hidden;
    border: none;
    outline: none;
    resize: none;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.2;
    padding: $padding-4;
    background-color: transparent;
    border-radius: $border-radius-4;
    &::placeholder {
      color: black;
      opacity: 1;
      font-weight: 500;
    }
    &:focus {
      border: 1px solid $border-color;
      border-radius: $border-radius-2;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      padding: $padding-4 $padding-8;
      border: 1px solid $color-gray-400;
      cursor: pointer;
    }
  }
}
