@import 'src/scss/base';

.wrapper {
  width: $column-width;
  color: $text-color-white;
  flex-shrink: 0;
  .before-add {
    display: flex;
    align-items: center;
    gap: 0 $gap-8;
    padding: $padding-8;
    background-color: $column-background-color;
    border-radius: $border-radius-4;
    color: $text-color-bold;
    cursor: pointer;
    .icon-add {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .title-add {
      flex: 1;
      .title {
        font-size: 16px;
      }
    }
  }
  .add-form {
    display: flex;
    flex-direction: column;
    gap: $gap-8 0;
    padding: $padding-8;
    background-color: $column-background-color;
    border-radius: $border-radius-4;
    .out-side-text {
      width: 100%;
      border: 1px solid $border-color;
      border-radius: $border-radius-2;
      padding: $padding-4 $padding-8 0;
      background-color: $color-white;
      .text-area {
        width: 100%;
        outline: none;
        border: none;
        resize: none;
        font-size: 16px;
        line-height: 1.3;
        color: $text-color-bold;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 0 $gap-10;
      .btn {
        background-color: $side-bar-background-color;
        padding: $padding-6 $padding-12;
        border-radius: $border-radius-4;
        color: $text-color-white;
        opacity: 0.5;
        cursor: pointer;
        &.active,
        &.btn-clear:hover {
          opacity: 1;
        }
        &.btn-clear {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px;
          background-color: unset;
          color: $text-color-bold;
          opacity: 0.5;
        }
      }
    }
  }
}
