@import 'src/scss/base';

.wrapper {
  position: relative;
  width: $side-bar-max-width;
  flex-shrink: 0;
  border-right: 1px solid $color-gray-400;
  background-color: $color-indigo;
  padding-left: $padding-10;
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    .sticky-content {
      display: flex;
      flex-direction: column;
      margin: $margin-10 0;
      gap: $gap-10 0;
      .active {
        color: $color-orange;
      }
      .side-bar-item {
        width: 100%;
      }
    }
  }
}
