@import 'src/scss/base';

.wrapper {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: $padding-10 $padding-10 0;
  margin-bottom: $margin-4;
  overflow: overlay;

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    height: 12px;
    border-radius: 18px;
    background-color: $color-gray-600;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 18px;
    background-color: $color-gray-400;
  }

  .cards-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}
